<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <File name="MyFile" fileName="${sys:catalina.home}/logs/app.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level %t %c %X{uniqID} methodName=%M%X{responseCode}%X{responseTime} {{{ %msg }}} %n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
		<Logger name="ge.ufc.webapps" level="trace" additivity="false" >
			<AppenderRef ref="MyFile"/>
		</Logger>
    </Loggers>
</Configuration>