<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="all" name="MyApp" packages="">
    <Appenders>
        <File name="MyFile" fileName="${sys:catalina.home}/logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %level %t %c %X{uniqID} methodName=%M%X{responseCode}%X{responseTime} {{{ %msg }}} %n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>
